dodonaphy.code-workspace

__pycache__/

.vscode/*
dodonaphy.egg-info

*.DS_Store

.idea/*
notes

data/*
ext
env

*.gz
*.aux
doc/notes.log
doc/fig*
doc/notes.out
doc/notes.bbl
doc/notes.blg
doc/notes.fdb_latexmk
doc/notes.fls


*.so
*.o
dodonaphy/cython/Cutils.c

*.prof
build
