dodonaphy.code-workspace

__pycache__/

.vscode/*

*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg

*.DS_Store

.idea/*

data/*
results/*

ext/trees-bootstrap

*.gz
*.aux
doc/notes.log


*.so
*.o
dodonaphy/src/cython/Cutils.c