dodonaphy.code-workspace

__pycache__/

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

*.egg
*.EGG
*.egg-info
*.EGG-INFO
.*.cfg

*.DS_Store

out/*

.idea/*

tex*